@import "./variables.scss";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $color;
}

.app {
  margin: auto;
  padding: 0 30px;
}

.btn {
  background-color: $color;
  color: $background-color;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  &:hover {
    background-color: $background-color;
    color: $color;
  }
}
.btn-icon {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  &:hover {
    background-color: rgb(243, 238, 238);
  }
}
// give container class css for all devices
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
